* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 70px;
  background-color: #ec715f;
  display: flex;
  text-align: center;
  line-height: 70px;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.header-group {
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 70px;
}

.nav {
  line-height: 70px;
  display: flex;
  margin-left: auto;
  list-style: none;
}

.nav-list {
  font-size: 16px;
  margin: 0 30px;
}

.no-color-change {
  color: #fafafa;
  text-decoration: none;
}

.main-visual {
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 650px;
  padding: 200px;
}

.main-visual-content {
  height: 650px; /*親の高さに揃える*/
  color: #fafafa;
  text-align: center;
}

.main-visual-title {
  font-size: 64px;
  margin-bottom: 10px;
}

.main-visual-text {
  font-size: 20px;
}

.portfolio {
  width: 100%;
  background-color: #eceff1;
}

.portfolio-content {
  width: 920px;
  padding: 90px 0;
}

.portfolio-content-name {
  font-size: 32px;
  color: #000000;
  text-align: center;
}

.portfolio-content-name::after {
  content: "";
  color: #ec715f;
  width: 70px;
  height: 3px;
  background-color: #ec715f;
  display: block;
  text-align: center;
  margin: 8px auto 0 auto;
}

.portfolio-content-text {
  font-size: 16px;
  color: #000000;
  margin: 30px 0;
  text-align: center;
}

.portfolio-content-images {
  display: flex;
  flex-wrap: wrap;
}

.images {
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
}

.img-1 {
  background-image: url(img/sketch.jpg);
}

.img-2 {
  background-image: url(img/websuku.png);
  margin: 0 10px;
}

.img-3 {
  background-image: url(img/write.jpg);
}

.img-4 {
  background-image: url(img/webcamp.png);
}

.img-5 {
  background-image: url(img/talk.jpg);
  margin: 0 10px;
}

.img-6 {
  background-image: url(img/webcamp-mother.png);
}

.top {
  margin-top: 10px;
}

.feature {
  width: 100%;
}

.feature-content {
  width: 980;
  padding: 90px 0;
}

.feature-content-name {
  font-size: 32px;
  color: #000000;
  text-align: center;
}

.feature-content-name::after {
  content: "";
  color: #ec715f;
  width: 70px;
  height: 3px;
  background-color: #ec715f;
  display: block;
  text-align: center;
  margin: 8px auto 0 auto;
}

.feature-content-text {
  font-size: 16px;
  color: #000000;
  text-align: center;
  margin: 30px 0;
}

.feature-content-boxes {
  display: flex;
}

.box-1,
.box-3 {
  width: 320px;
}
.box-2 {
  width: 320px;
  margin: 0 10px;
}

.box-name {
  font-size: 20px;
  color: #000000;
  text-align: center;
}

.box-text {
  font-size: 16px;
  color: #000000;
  text-align: left;
}

.icon {
  font-size: 60px;
  text-align: center;
}

.profile {
  background-color: #eceff1;
}

.profile-content {
  width: 1024px;
  padding: 90px 0;
}

.profile-name {
  font-size: 32px;
  color: #000000;
  text-align: center;
}

.profile-name::after {
  content: "";
  color: #ec715f;
  width: 70px;
  height: 3px;
  background-color: #ec715f;
  display: block;
  text-align: center;
  margin: 8px auto 0 auto;
}

.profile-text {
  font-size: 16px;
  color: #000000;
  text-align: center;
  margin: 30px 0;
}

.profile-boxes {
  display: flex;
}

.profile-box {
  width: 512px;
}

.profile-image {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  text-align: center;
}
.show-name {
  font-size: 20px;
  text-align: left;
  margin-bottom: 5px;
}

.show-text {
  font-size: 16px;
  color: #000000;
  text-align: left;
  margin-bottom: 20px;
}

.show-skill {
  font-size: 20px;
  text-align: left;
  margin-bottom: 5px;
}

.show-skill-list {
  font-size: 16px;
  color: #000000;
  text-align: left;
}

.contact {
  width: 100%;
}

.contact-content {
  width: 800px;
  padding: 90px 0;
}

.contact-name {
  font-size: 32px;
  color: #000000;
  text-align: center;
}

.contact-name::after {
  content: "";
  color: #ec715f;
  width: 70px;
  height: 3px;
  background-color: #ec715f;
  display: block;
  text-align: center;
  margin: 8px auto 0 auto;
}

.contact-text {
  font-size: 16px;
  color: #000000;
  text-align: center;
  margin: 30px 0;
}

.contact-boxes {
  display: flex;
}

.adress {
  width: 400px;
  text-align: left;
  padding: 0 auto;
}

.adress-name {
  font-size: 20px;
  margin-bottom: 5px;
}

.mail-text {
  text-decoration: underline;
  margin-bottom: 20px;
}

.tel-text {
  text-decoration: underline;
}

.sns {
  width: 400px;
  text-align: center;
}

.sns-name {
  font-size: 20px;
  margin-bottom: 5px;
}

.sns-icon {
  font-size: 50px;
  margin-left: 110px;
}

footer {
  height: 60px;
  background-color: #ec715f;
}

.footer-name {
  font-size: 16px;
  color: #fafafa;
  text-align: center;
  line-height: 60px;
}

@media screen and (max-width: 768) {
  .container {
    width: 90%;
  }

  header {
    height: 50px;
  }

  /* bager menu */

  header nav {
    transition: all 0.6s;
    overflow-y: auto;
    padding-top: 40px;
    width: 300px;
    height: 100vh;
    z-index: 200;
    top: 0;
    right: -320px;
    background-color: #fff;
    position: fixed;
  }

  header .nav_btn {
    width: 44px;
    height: 44px;
    z-index: 300;
    top: 7px;
    right: 7px;
    cursor: pointer;
    position: absolute;
  }

  .hamburger_line {
    transition: all 0.6s;
    width: 34px;
    height: 2px;
    left: 5px;
    background-color: #000;
    position: absolute;
  }

  .hamburger_line1 {
    top: 10px;
  }
  .hamburger_line2 {
    top: 21px;
  }
  .hamburger_line3 {
    top: 32px;
  }

  .nav_bg {
    opacity: 0;
    transition: all 0.6s;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    top: 0;
    left: 0;
    visibility: hidden;
    background-color: #000;
    cursor: pointer;
    position: fixed;
  }

  /* 表示された時用のCSS */
  .nav_open header .nav {
    right: 0;
  }

  .nav_open .nav_bg {
    opacity: 0.8;
    visibility: visible;
  }

  .nav_open .hamburger_line1 {
    transform: rotate(45deg);
    top: 20px;
  }

  .nav_open .hamburger_line2 {
    width: 0;
    left: 50%;
  }

  .nav_open .hamburger_line3 {
    transform: rotate(-45deg);
    top: 20px;
  }
}
